# Ignore everything
**

# Allow files and directories
!/*.py
!/*LICENSE*
!/README.rst
!/pyproject.toml
!/meson.build
!/src/**

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
**/*.pyc
**/*.so
**/.*
