*.pyc
*.pyo
*.c
*.so

VERSION.txt
Shapely.egg-info/
build/
dist/
docs/_build/
docs/shapely.*.txt
docs/shapely.txt
docs/modules.txt
.cache/
.idea/
*.pyd
*.pdb
*.whl

wheels/
.coverage
ignore/

venv/
.ipynb_checkpoints
.DS_Store
