<allan.m.adair@gmail.com> <allan@rfspot.com>
Aron Bierbaum <aronbierbaum@gmail.com> aronbierbaum <aronbierbaum@b426a367-1105-0410-b9ff-cdf4ab011145>
Filipe Fernandes <ocefpaf@gmail.com>
Sean Gillies <sean.gillies@gmail.com>
Sean Gillies <sean.gillies@gmail.com> Sean Gillies <sean@mapbox.com>
Sean Gillies <sean.gillies@gmail.com> Sean C. Gillies <sean@mapbox.com>
Sean Gillies <sean.gillies@gmail.com> Sean Gillies <seang@krusty-2.local>
Sean Gillies <sean.gillies@gmail.com> seang <seang@b426a367-1105-0410-b9ff-cdf4ab011145>
Mike Taves <mwtoews@gmail.com>
Mike Taves <mwtoews@gmail.com> Mike Toews <mwtoews@debian.(none)>
Frédéric Junod <frederic.junod@camptocamp.com>
Kai Lautaportti <dokai@b426a367-1105-0410-b9ff-cdf4ab011145>
<wursterk@gmail.com> <kevin@skytruth.org>
<kveretennicov@gmail.com> <kveretennicov+github@gmail.com>
