Allan Adair <allan.m.adair@gmail.com> <allan@rfspot.com>
Aron Bierbaum <aronbierbaum@gmail.com> <aronbierbaum@b426a367-1105-0410-b9ff-cdf4ab011145>
Brendan Ward <bcward@astutespruce.com>
Casper van der Wel <caspervdw@gmail.com>
Casper van der Wel <caspervdw@gmail.com> <casper.vanderwel@nelen-schuurmans.nl>
Filipe Fernandes <ocefpaf@gmail.com>
Frédéric Junod <frederic.junod@camptocamp.com>
Kai Lautaportti <dokai@b426a367-1105-0410-b9ff-cdf4ab011145>
Kevin Wurster <wursterk@gmail.com> <kevin@skytruth.org>
Konstantin Veretennicov <kveretennicov@gmail.com> <kveretennicov+github@gmail.com>
Mike Taves <mwtoews@gmail.com>
Mike Taves <mwtoews@gmail.com> <mwtoews@debian.(none)>
Sean Gillies <sean.gillies@gmail.com>
Sean Gillies <sean.gillies@gmail.com> <seang@b426a367-1105-0410-b9ff-cdf4ab011145>
Sean Gillies <sean.gillies@gmail.com> <seang@krusty-2.local>
Sean Gillies <sean.gillies@gmail.com> <sean@mapbox.com>
