[build-system]
# numpy and Cython are required to execute setup.py to build Cython extensions
requires = [
    "setuptools",
    "wheel",
    "numpy==1.13.3; python_version=='3.5'",
    "numpy==1.13.3; python_version=='3.6'",
    "numpy==1.14.5; python_version=='3.7'",
    "numpy==1.17.3; python_version=='3.8'",
    # do not pin numpy on future versions of python to avoid incompatible numpy and python versions
    "numpy; python_version>='3.9'",
    "Cython>=0.29",
]
